<div class="banner" style= "background-image: url('<%= image_path "food-photography.jpg" %> ')">
  <h1><%= @category.name %></h1>
</div>


<div class ="container" >

  <div class="info-top">
    <h3>Recipes</h3>
    <div>
      <%= link_to "Add a recipe",new_category_bookmark_path(@category), class:"btn btn-warning" %>
      <%= link_to "Back to Categories", categories_path, class:"btn btn-info" %>
    </div>
  </div>

<div class="cards">
  <% @category.bookmarks.each do |bookmark| %>
    <div class="card-trip">
      <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-link" do %>
        <i class="fa-regular fa-trash-can"></i>
      <% end %>

      <%= image_tag "tomato-pasta.jpg" %>

      <div class="card-trip-infos">
        <div class= "card-recipe-description">
          <h2><%= bookmark.recipe.name %></h2>
          <p><%= bookmark.recipe.description %></p>
          <p><%= bookmark.comment %></p>
        </div>

        <h2> <%= bookmark.recipe.rating %></h2> <%= '⭐️' * bookmark.recipe.rating %>
      </div>
    </div>

  <% end %>
  </div>
</div>
